<header class="navbar-inverse">
  <div class="navbar navbar-static-top">
    <div class="container">
      <%= link_to "RR", '#', class: "navbar-brand" %>
      <nav class="collapse navbar-collapse navHeaderCollapse">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Help", help_path %></li>
          <li><%= link_to "Sign in", signup_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>